<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.algrimaldi.safari.openinpapers</string>
			<key>Developer Identifier</key>
			<string>MQ8C8573KA</string>
			<key>CFBundleVersion</key>
			<string>3.1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.02</string>
			<key>URL</key>
			<string>http://dl.dropbox.com/u/2543240/OpenInPapers/OpenInPapers.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
