<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Alexis Grimaldi</string>
	<key>CFBundleDisplayName</key>
	<string>Open in Papers</string>
	<key>CFBundleIdentifier</key>
	<string>com.algrimaldi.safari.openinpapers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.04</string>
	<key>CFBundleVersion</key>
	<string>3.3</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>openInPapers</string>
				<key>Identifier</key>
				<string>openInPapers</string>
				<key>Image</key>
				<string>Icon16.png</string>
				<key>Label</key>
				<string>Open in Papers</string>
				<key>Palette Label</key>
				<string>Open in Papers</string>
				<key>Tool Tip</key>
				<string>Open in Papers</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Open the current page in Papers</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://dl.dropbox.com/u/2543240/OpenInPapers/manifest.plist</string>
	<key>Website</key>
	<string>http://github.com/sopo/OpenInPapers</string>
</dict>
</plist>
